<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlImpl" class="com.zheng.dao.UserDaoMysqlImpl"/>
    <bean id="OracleImpl" class="com.zheng.dao.UserDaoOracleImpl"/>
    <bean id="sqlImpl" class="com.zheng.dao.UserDaoSqlImpl"/>
    <bean id="UserServiceImpl" class="com.zheng.service.UserServiceImpl">
        <property name="userDao" ref="OracleImpl"/>
    </bean>


</beans>